<div class="row">
    <h2>Educación</h2>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <h3>Nombre educación 1</h3>
                    </td>
                    <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Omnis reprehenderit illo ipsa iure odit magni quas corrupti obcaecati.
                
                    </td>
                </tr>
                <td>
                    <h3>Nombre educación 2</h3>
                </td>
                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Omnis reprehenderit illo ipsa iure odit magni quas corrupti obcaecati.

                </td>
            </tbody>
        </table>
    </div>
</div>
