<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img src="assets/img/perfil.jpg" alt="Foto de perfil" id="fotoPerfil" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <p id="nombre">Claudio Román Fonseca</p>
        <p>Desarrollador FullStack Jr</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <span>
            <h2>Acerca de mi</h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi ratione laborum 
                voluptatum ipsum maxime dolorum nobis alias quos. Autem quae magni quisquam et aliquam consequatur 
                quos vitae minima explicabo blanditiis?
            </p>
        </span>
    </div>
</div>