<div class="row">
    <h2>Experiencia laboral</h2>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <h3>Experiencia 1</h3>
                    </td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Sed molestiae rerum possimus vitae eligendi illum veritatis commodi illo ullam.

                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Experiencia 2</h3>
                    </td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Sed molestiae rerum possimus vitae eligendi illum veritatis commodi illo ullam.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>